<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="main.css"/>
<body ng-app="desktop" ng-controller="DesktopController">
<div class="chart" bom-plot="stations"></div>
<div class="tooltip" style="visibility: hidden">
    <h3>At <span id="time">{{now}}</span></h3>
    <table>
        <thead>
            <tr>
                <th>Site</th>
                <th>Air &deg;C</th>
                <th>Feel &deg;C</th>
                <th>Humidity</th>
                <th>Rain</th>
                <th>Wind</th>
            </tr>
        </thead>
        <tbody id="observations">
            <tr ng-repeat="o in currentObservations">
                <td class="name">{{o.name}}</td>
                <td class="airTemp">{{o.air_temp}}</td>
                <td class="apparentTemp">{{o.apparent_t}}</td>
                <td class="humidity">{{o.rel_hum}}</td>
                <td class="rain">{{o.rain_trace}}</td>
                <td class="wind">{{o.wind_spd_kmh + " " + o.wind_dir}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="explanation" style="visibility: hidden">
    <h3>What's going on here?</h3>
    <p>
        These observations from the <a href="http://bom.gov.au">BOM</a> are being plotted using <a href="http://d3js.org/">d3.js</a>
    </p>

    <ul id="source-list" bom-persist="stations">
        <li ng-repeat="s in stations">
            <input type="checkbox" ng-model="s.load"/>
            <a href="http://www.bom.gov.au/products/{{s.url}}.shtml">{{s.name}}</a>
        </li>
    </ul>

    <p>Want the code for some strange reason? See <a href="https://github.com/wcurrie/south-or-west">github</a>.</p>
</div>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/suncalc/suncalc.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="public/app.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41567497-3', 'bomobserved.herokuapp.com');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

</script>